---
import BaseLayout from "../Layout/BaseLayout.astro";
import Card from "../components/Card";
import Product from "../components/Product.vue";

---

<BaseLayout>
  <div>
    <div>Hello World</div>
    <Card name={"eslam"} client:load/>
    <Product/>
  </div>
</BaseLayout>

