---
import axios from "axios"
import BaseLayout from "../Layout/BaseLayout.astro";
import CreatePost from "../components/CreatePost"
import PostCard from "../components/PostCard"
import PostCards from "../components/PostCards";
---

<BaseLayout>
  <div class="fixed bottom-5 right-5">
    <CreatePost client:visible/>
  </div>
  <div class=" w-full flex justify-start items-center p-10  gap-5" style="flex-wrap: wrap;">
    <PostCards client:visible/>
  </div>
</BaseLayout>


